<div class="footer">
  <button (click)="toggleMenuVisibility()">
    <span [@isArrowsUp]="isMenuOpen ? 'down' : 'up'" class="arrow arrow_first"></span>
    <span [@isArrowsUp]="isMenuOpen ? 'down' : 'up'" class="arrow arrow_second"></span>
    <span [@isArrowsUp]="isMenuOpen ? 'down' : 'up'" class="arrow arrow_second"></span>
  </button>
  <ul [@isMenuOpen]="isMenuOpen ? 'open' : 'closed'" class="menu">
    <li><a href="/about">about</a></li>
    <li><a href="/cookies">cookies policy</a></li>
    <li><a href="https://goloto.dev" target="_blank">goloto.dev</a></li>
    <li><a href="https://github.com/goloto/timetogoho.me" target="_blank">github</a></li>
    <li>2021</li>
  </ul>
</div>
