:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer, a {
  color: black;
  font-size: 3vh;
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1vh;

    background: none;
    outline: none;
    border: none;

    cursor: pointer;

    .arrow {
      display: block;

      border-right: 1vh solid black;
      border-bottom: 1vh solid black;

      width: 1vh;
      height: 1vh;

      &_up {
        transform: rotate(-135deg);
      }

      &_down {
        transform: rotate(45deg);
      }
    }
  }

  ul.menu {
    list-style: none;

    display: flex;
    flex-direction: row;
    align-items: center;

    overflow: hidden;

    padding: 0;
    margin: 0;

    li {
      margin: 0 1vw;
    }

    a {
      outline: none;
    }
  }
}
