<ul class="menu-elements menu-elements_links" [@menuState]="isMenuOpen ? 'open' : 'closed'">
  <li class="menu-elements__element">
    <a class="link" href="/about">about</a>
  </li>
  <li class="menu-elements__element">
    <a class="link" href="/cookies">cookies policy</a>
  </li>
  <li class="menu-elements__element">
    <a class="link" href="/report">report bug</a>
  </li>
  <li class="menu-elements__element">
    <a class="link" href="https://goloto.dev" target="_blank">goloto.dev</a>
  </li>
  <li class="menu-elements__element">
    <a class="link" href="https://github.com/goloto/timetogoho.me" target="_blank">github</a>
  </li>
  <li class="menu-elements__element">❤️</li>
  <li class="menu-elements__element">2021</li>
</ul>
