ul.menu-elements {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 4px;
  margin: 0;

  background-color: var(--soft-color_1);
  list-style: none;
  overflow: hidden;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 4px;

    color: var(--contrast-color_1);
    font-size: 22px;

    background-color: var(--soft-color_2);
    border-radius: 8px;

    transition: .2s ease-in;

    &:hover {
      background-color: var(--soft-color_2_hover);
    }

    &:nth-child(odd) {
      background-color: var(--soft-color_2_alt);

      &:hover {
        background-color: var(--soft-color_2_alt_hover);
      }
    }

    a {
      padding: 10px 40px;

      color: var(--contrast-color_1);
      text-decoration: none;
      text-align: center;
    }

    input {
      color: var(--contrast-color_1);
      font-size: 40px;
      font-family: 'viga';
      outline: none;

      background-color: transparent;
      border: none;
    }
  }
}
