@keyframes flickering {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-menu, a {
  color: black;
  font-size: 3vh;
  text-decoration: none;
}

.header-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  background: white;
  transition: 0.2s;

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;

    .arrow {
      display: block;
      border-right: 1vh solid black;
      border-bottom: 1vh solid black;
      border-radius: .3vh;
      width: 1vh;
      height: 1vh;
      animation: flickering 1s infinite;
      animation-direction: alternate;

      &_first {

      }

      &_second {
        animation-delay: .1s;
      }

      &_third {
        animation-delay: .2s;
      }
    }
  }

  ul.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    padding: 0;
    margin: 0;

    li {
      margin: 1vh 2vw;
    }

    a {
      outline: none;
    }
  }
}

