ul.menu-elements {
  display: grid;
  padding: 4px;
  margin: 0;

  background-color: var(--soft-color_1);
  list-style: none;
  overflow: hidden;

  &_settings {
    grid-template-columns: repeat(2, 1fr);
  }

  &_links {
    grid-template-columns: repeat(5, 2fr) repeat(2, 1fr);
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 4px;

    color: var(--contrast-color_1);
    font-size: 22px;

    background-color: var(--soft-color_2);
    border-radius: 8px;

    transition: .2s ease-in;

    &:hover {
      background-color: var(--soft-color_2_hover);
    }

    &:nth-child(2n) {
      background-color: var(--soft-color_3);

      &:hover {
        background-color: var(--soft-color_3_hover);
      }
    }

    &:nth-child(3n) {
      background-color: var(--soft-color_4);

      &:hover {
        background-color: var(--soft-color_4_hover);
      }
    }

    a {
      width: 100%;

      padding: 10px 0;

      color: var(--contrast-color_1);
      text-decoration: none;
      text-align: center;
    }

    input {
      color: var(--contrast-color_1);
      font-size: 40px;
      font-family: 'viga';
      outline: none;

      background-color: transparent;
      border: none;
    }
  }
}
