ul.menu-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;

  list-style: none;
  overflow: hidden;

  li {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1vh 2vw;

    color: var(--font-color);
    font-size: 22px;

    a {
      color: var(--font-color);
      text-decoration: none;
    }

    input {
      color: var(--font-color);
      font-size: 40px;
      font-family: 'viga';
      outline: none;

      background-color: transparent;
      border: none;
    }
  }
}
