<div
  class="menu"
  [class]="isUpper ? 'menu_upper' : 'menu_bottom'"
  [@isMenuExpanded]="isMenuOpen ? 'expanded' : 'not-expanded'"
>

  <button
    *ngIf="!isUpper"
    (click)="toggleMenuVisibility()"
    [@isArrowReversed]="isMenuOpen ? 'not-reversed' : 'reversed'"
  >
    <span [@isArrowsUp]="isMenuOpen ? 'down' : 'up'" class="arrow arrow_first"></span>
    <span [@isArrowsUp]="isMenuOpen ? 'down' : 'up'" class="arrow arrow_second"></span>
    <span [@isArrowsUp]="isMenuOpen ? 'down' : 'up'" class="arrow arrow_third"></span>
  </button>

  <app-upper-menu *ngIf="isUpper" [isMenuOpen]="isMenuOpen"></app-upper-menu>
  <app-bottom-menu *ngIf="!isUpper" [isMenuOpen]="isMenuOpen"></app-bottom-menu>

  <button
    *ngIf="isUpper"
    (click)="toggleMenuVisibility()"
    [@isArrowReversed]="isMenuOpen ? 'reversed' : 'not-reversed'"
  >
    <span [@isArrowsUp]="isMenuOpen ? 'up' : 'down'" class="arrow arrow_first"></span>
    <span [@isArrowsUp]="isMenuOpen ? 'up' : 'down'" class="arrow arrow_second"></span>
    <span [@isArrowsUp]="isMenuOpen ? 'up' : 'down'" class="arrow arrow_third"></span>
  </button>
</div>

