<div
  [class]="['menu', isUpper ? 'menu_upper' : 'menu_bottom']"
  [@isMenuExpanded]="isMenuOpen ? 'expanded' : 'not-expanded'"
>

  <app-arrow-button
    *ngIf="!isUpper"
    [isUpper]="isUpper"
    [title]="' links'"
    [(isMenuOpen)]="isMenuOpen"
  >
  </app-arrow-button>

  <app-settings-menu *ngIf="isUpper" [isMenuOpen]="isMenuOpen"></app-settings-menu>
  <app-bottom-menu *ngIf="!isUpper" [isMenuOpen]="isMenuOpen"></app-bottom-menu>

  <app-arrow-button
    *ngIf="isUpper"
    [isUpper]="isUpper"
    [title]="' settings'"
    [(isMenuOpen)]="isMenuOpen"
  >
  </app-arrow-button>

</div>
