<button (click)="toggleMenuVisibility()">
  <span class="arrow-button-grid">
    <span [@menuState]="isMenuOpen ? 'open' : 'closed'" class="long-column">
      <span *ngIf="isUpper">{{title}}</span>
    </span>
    <span [@animationDirection]="calcArrowAnimationDirection()" class="arrow-column">
      <span [@arrowDirection]="calcArrowDirection()" class="arrow arrow_first"></span>
      <span [@arrowDirection]="calcArrowDirection()" class="arrow arrow_second"></span>
      <span [@arrowDirection]="calcArrowDirection()" class="arrow arrow_third"></span>
    </span>
    <span [@menuState]="isMenuOpen ? 'open' : 'closed'" class="long-column">
      <span *ngIf="!isUpper">{{title}}</span>
    </span>
  </span>
</button>
