@font-face {
  font-family: 'viga';
  src: url('/assets/fonts/Viga-Regular.ttf') format('truetype');
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;

  font-family: 'viga';

  background-color: var(--soft-color_light_main);
}
