:host {
  --main-font-size: 15vw;
  --second-font-size: 3vw;
  --third-font-size: 3vw;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.the-best-timer-of-your-life {
  display: grid;
  grid-template-columns: repeat(3, 3vw 18vw) 4vw;
  grid-column-gap: 4vw;

  .time-group {
    display: flex;
    flex-direction: column;
    align-items: center;

    .time {
      font-size: var(--main-font-size);
      line-height: var(--main-font-size);
    }

    .description {
      font-size: var(--second-font-size);
      line-height: var(--second-font-size);
      text-transform: uppercase;
    }
  }

  .text-group {
    display: flex;
    justify-content: center;

    &_union {
      display: none;

      .text {
        writing-mode: unset;
        transform: none;
      }
    }

    &_separated {
      .text {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
      }
    }

    .text {
      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;
      color: #bfbfbf;
      font-size: var(--third-font-size);
      line-height: var(--third-font-size);
      text-transform: uppercase;
    }
  }
}

@media (max-aspect-ratio: 8 / 7) {
  :host {
    --main-font-size: 26vw;
    --second-font-size: 6vw;
    --third-font-size: 6vw;
  }

  .the-best-timer-of-your-life {
    grid-template-columns: repeat(2, 32vw);
    gap: 10vw;

    .text-group {
      &_union {
        display: flex;
        align-items: center;
      }

      &_separated {
        display: none;
      }
    }
  }
}

@media (max-aspect-ratio: 9 / 16) {
  :host {
    --main-font-size: 21vh;
    --second-font-size: 4vh;
    --third-font-size: 2vh;
  }

  .the-best-timer-of-your-life {
    grid-template-columns: 100vw;
    grid-row-gap: 1vh;

    .time-group {
      .time {
        line-height: 18vh;
      }
    }

    .text-group {
      &_union {
        display: none;
      }

      &_separated {
        display: flex;

        .text {
          width: auto;

          writing-mode: unset;
          transform: none;
        }
      }
    }
  }
}
