:host {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.the-best-timer-of-your-life {
  display: grid;
  grid-template-columns: repeat(3, 4vw 12vw) 4vw;
  grid-column-gap: 4vw;

  .time-group {
    display: flex;
    flex-direction: column;
    align-items: center;

    .time {
      font-size: 24vh;
      line-height: 24vh;
    }

    .description {
      font-size: 5vh;
      line-height: 5vh;
      text-transform: uppercase;
    }
  }

  .text-group {
    display: flex;
    justify-content: center;

    &_union {
      display: none;

      .text {
        writing-mode: unset;
        transform: none;
      }
    }

    &_separated {
      .text {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        width: 5vh;
      }
    }

    .text {
      color: #bfbfbf;
      font-size: 5vh;
      line-height: 5vh;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

@media (max-width: 920px) {
  .the-best-timer-of-your-life {
    grid-template-columns: repeat(2, 35vw);
    grid-row-gap: 4vh;

    .text-group {
      &_union {
        display: flex;
        align-items: center;
      }

      &_separated {
        display: none;
      }
    }
  }
}

@media (max-width: 540px) {
  .the-best-timer-of-your-life {
    grid-template-columns: 100vw;
    grid-row-gap: 3vh;

    .time-group {
      .time {
        font-size: 21vh;
        line-height: 18vh;
      }

      .description {
        font-size: 4vh;
        line-height: 4vh;
      }
    }

    .text-group {
      &_union {
        display: none;
      }

      &_separated {
        display: flex;

        .text {
          font-size: 2vh;
          line-height: 2vh;
          writing-mode: unset;
          transform: none;
          width: auto;
        }
      }
    }
  }
}
