<div class="the-best-timer-of-your-life">
  <div class="text-group text-group_union">
    <div class="text" *ngIf="time.isWorkingDay">time to go home</div>
    <div class="text" *ngIf="!time.isWorkingDay">time until working day</div>
  </div>
  <div class="text-group text-group_separated">
    <div class="text">time</div>
  </div>
  <div class="time-group">
    <div class="time">{{time.formattedHours}}</div>
    <div class="description">hours</div>
  </div>
  <div class="text-group text-group_separated">
    <div class="text" *ngIf="time.isWorkingDay">to</div>
    <div class="text" *ngIf="!time.isWorkingDay">until</div>
  </div>
  <div class="time-group">
    <div class="time">{{time.formattedMinutes}}</div>
    <div class="description">minutes</div>
  </div>
  <div class="text-group text-group_separated">
    <div class="text" *ngIf="time.isWorkingDay">go</div>
    <div class="text" *ngIf="!time.isWorkingDay">working</div>
  </div>
  <div class="time-group">
    <div class="time">{{time.formattedSeconds}}</div>
    <div class="description">seconds</div>
  </div>
  <div class="text-group text-group_separated">
    <div class="text" *ngIf="time.isWorkingDay">home</div>
    <div class="text" *ngIf="!time.isWorkingDay">day</div>
  </div>
</div>
