body {
  --soft-color_1: rgb(240, 240, 250);
  --soft-color_2: rgb(200, 200, 230);
  --soft-color_2_alt: rgb(203, 203, 255);
  --soft-color_2_hover: rgb(225, 225, 255);
  --soft-color_2_alt_hover: rgb(220, 220, 255);
  --contrast-color_1: rgb(55, 55, 75);

  margin: 0;
  padding: 0;
}

body[dark] {
  --soft-color_1: rgb(240, 240, 250);
  --soft-color_2: rgb(200, 200, 230);
  --soft-color_2_hover: rgb(225, 225, 255);
  --contrast-color_1: rgb(55, 55, 75);
}
