body {
  --soft-color_1: rgb(240, 240, 250);
  --soft-color_2: rgb(200, 200, 230);
  --soft-color_2_hover: rgb(225, 225, 255);
  --soft-color_3: rgb(200, 200, 255);
  --soft-color_3_hover: rgb(220, 220, 255);
  --soft-color_4: rgb(170, 170, 240);
  --soft-color_4_hover: rgb(205, 205, 255);
  --contrast-color_1: rgb(55, 55, 75);

  margin: 0;
  padding: 0;
}

body[dark] {
  --soft-color_1: rgb(240, 240, 250);
  --soft-color_2: rgb(200, 200, 230);
  --soft-color_2_hover: rgb(225, 225, 255);
  --contrast-color_1: rgb(55, 55, 75);
}
